<template>
  <div>
    <h1>this is an about page</h1>
    <profile-test
      :name="'Vrijraj'"
      :desc="'This is a desc for Vrijal'"
      @showMsg="showMsg"
    />
    <br />

    <!-- <profile-test name="Tech" desc="This is a desc for Tech" /><br />
    <profile-test name="VUe.js" desc="This is a desc for Vue.js" /><br /> -->
    <h4>ket qua :{{ result }}</h4>
  </div>
</template>

<script>
import ProfileTest from "./ProfileTest.vue";
export default {
  name: "AboutTest",
  components: {
    ProfileTest,
  },
  data() {
    return {
      result: "",
    };
  },
  methods: { // chỗ này phải là methods chứ không phải method
    getData(data) {
      this.result = data;
    },
    showMsg(name) {
      this.result = name
    },
  },
};
</script>

<style></style>
