<template>
  <div>
    <h1>welcome to: {{ name }}</h1>
    <p>{{ desc }}</p>
    <button @click="showMsg(2222)">see more</button>
  </div>
</template>

<script>
export default {
  name: "ProfileTest",
  props: ["name", "desc"],
  emits: ['showMsg'], // dùng cho vue 3 vì từ vue 3 thì phải khai báo emits cần dùng
  data() {
    return {};
  },
  methods: {
    showMsg(name) {
      this.$emit("showMsg", name);
    },
  },
};
</script>

<style>
</style>